.cover-container {
  height: 100vh;
  width: 100%;
  object-fit: contain;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
}
.cover-container > h1 {
  color: #000000;
  font-size: 150px;
  margin: 0 auto;
  text-align: center;
  text-shadow: 5px 5px 1px #03f82c;
  font-family: "Inspiration", cursive;
  width: 800px;
  height: 100px;
  background: rgb(88, 72, 72);
  margin: 30px auto;
  opacity: 0.2;
  z-index: 1;
  border-radius: 30px;
}

.cover-container > p {
  color: rgb(255, 249, 249);
  padding-left: center;
  margin-top: 4px;
  font-size: 30px;
  text-shadow: 2px 2px 5px #087eed;
  font-family: "Rubik Iso", cursive;
  /* font-family: "Inspiration", cursive; */
  letter-spacing: 0.5em;
  /* background: rgb(88, 72, 72); */
  /* margin: 60px auto; */
  /* opacity: 0.2; */
  z-index: 1;
  border-radius: 50px;
  /* width: 200px; */
  height: 40px;
  text-align: center;
}

@media screen and (max-width: 960px) {
  .cover-container > h1 {
    font-size: 70px;
    text-align: center;
  }

  .cover-container > p {
    text-align: center;
    font-size: 22px;
    width: 85;
  }
}
