.about-container {
  display: flex;
  background: linear-gradient(100deg, rgb(19, 62, 173) 0%, rgb(0, 0, 0) 60%);
  color: rgb(251, 244, 244);
  height: 70vh;
  padding: 100px, 0, 100px, 0;
}

.about-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  padding: 10px 50px 10px 100px;
  font-family: "Nanum Gothic", sans-serif;
}

.about-description > h3 {
  margin-bottom: 30px;
  font-size: 28px;
  color: rgb(255, 187, 187);
  text-shadow: 2px 2px 4px #000000;
  font-family: "Nanum Gothic", sans-serif;
}

.about-description > p {
  line-height: 1.5;
  text-shadow: 2px 2px 5px #000000;
  font-family: "Nanum Gothic", sans-serif;
  width: 610px;
  height: 220px;
}

.about-img {
  height: 70%;
  width: 19%;
  display: flex;
  align-self: center;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 50px rgb(0, 0, 135);
}
.about-img > img {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 960px) {
  .about-container {
    flex-direction: column;
    padding: 0;
    height: auto;
  }

  .about-desc {
    width: 20%;
    margin: 0 auto;
    padding: 40px 20px 50px 20px;
  }

  .about-desc > h3 {
    font-size: 20px;
    text-align: center;
  }

  .about-img {
    width: 50%;
    margin-bottom: 50px;
  }

  .about-img > img {
    width: 100%;
  }
}
