.about-container {
  display: flex;
  background: #07101E;
  color: #4D4E88;
  height: 100vh;
}

.about-description {
  display: flex;
  margin: 1rem;
  justify-content: center;
  padding: 1rem;
  font-family: "Nanum Gothic", sans-serif;
}

.about-description h3 {
  align-content: center;
  text-align: left;
  margin: 1rem;
  padding: 1rem;
  font-size: 20px;
  color: #5A6A99;
  text-shadow: 2px 1px #e2b213;
  font-family: "Nanum Gothic", sans-serif;
}


.about-description p {
  line-height: 2;
  text-shadow: 2px 2px 5px #000000;
  font-family: "Nanum Gothic", sans-serif;
  align-self: center;
  margin: 1rem;
  padding: 1rem;
}

.about-img {
  height: 15rem;
  width: 400px;
  display: flex;
  align-self: center;
  overflow: hidden;
  border-radius: 50%;
  /* box-shadow: 0 0 50px rgb(197, 11, 157); */
  margin: 3rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.about-img img {
  width: 100%;
}

.fa-solid {
  display: flex;
  justify-content: center;
  margin: 2px;
}


.cv {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin-top: 40px;
}


.cv a {
  text-decoration: none;
  color: #000000;
  font-size: 12px;
  padding: 5px;
  box-shadow: 0 0 50px rgb(0, 0, 135);
  background: linear-gradient(45deg, #4CAF50, #008CBA);
  /* margin: 10px; */
  border-radius: 10px;
  transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.cv a:hover {
  /* background-color: #78e123; */
  color: #000000;
  /* font-size: 20px; */
  /* transition: background-color 0.3s ease; */
  background: linear-gradient(45deg, #008CBA, #4CAF50);
  /* Nuevo degradado en hover */
  /* box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); */
  box-shadow: 0 0 50px rgb(40, 85, 43);
}



@media only screen and (max-width: 960px) {
  .about-container {
    flex-direction: column;
    padding: 0;
    height: auto;
  }

  .about-desc {
    width: 20%;
    margin: 0 auto;
    padding: 40px 20px 50px 20px;
  }

  .about-desc>h3 {
    font-size: 20px;
    text-align: center;
  }

  .about-img {
    width: 400px;
    height: 400px;
    margin-bottom: 50px;
  }

  .about-img>img {
    width: 100%;
  }
}