.navbar {
  position: fixed;
  top: 0;
  background-color: transparent;
  width: 100%;
  height: 80px;
  padding-left: 50px;
  font-size: 20px;
  z-index: 1;
  font-family: "Dancing Script", cursive;
}

.scrolling {
  background: rgb(41, 41, 41);
  background: linear-gradient(
    0deg,
    rgba(41, 41, 41, 1) 0%,
    rgba(60, 79, 15, 1) 100%
  );
  transition: all 0.5s ease;
}

.navbar-logo {
  height: 80px;
  line-height: 80px;
  color: #c9b977;
  cursor: pointer;
}
